.b-form-container {
float: left; display: inline;
width: 100%;
overflow: hidden;
background: #fff;

padding-bottom: 20px;
}



  .b-registration {
float: left; display: inline;
margin: 135px 0 0 0px;
padding: 0 50%;
}
  .b-registration-info {
width: 310px;
float: left; display: inline;
padding-right: 50px;
border-right: solid 1px #e2e2e2;
margin-left: -361px;
}
   .b-registration-info ul {
list-style: none;
margin-top: 20px;
}
      .b-registration-info ul li {
margin-top: 10px;
}


.b-signup {
    float: left; display: inline;
    width: 600px;

    margin: 55px 0 0 0px;
    margin-left: -300px;
    padding: 0 50%;
} 

.b-signup input, select .b-signup{
float: left;
}
.b-signup label {
    float: left; display: inline;
    text-align: right;
    width: 150px;

    margin-top: 1px;

    padding-right: 5px;
    
}

.b-registration-form {
    float: left; display: inline;
    width: 310px;
    margin-left: 50px;
  
}
.b-login-form {
    margin-top: -410px;
    float: left;
    display: inline;
}
.b-registration-form input {
float: left;
}
  
  .b-registration-form label {
float: left; display: inline;
text-align: right;
width: 50px;

margin-top: 1px;

padding-right: 5px;

}
              .b-registration-form fieldset, .b-signup  fieldset {
float: left; display: inline;

margin-top: 15px;
width: 100%;
}
              
.signup-btn {
margin: 20px 0 0 5px;
}
 .signin-btn {
margin: 10px 0 0 5px;
}

.b-signup-form {
    margin-top: 20px;
}
.b-signup-form .header {
    color: #28a80e;
}
.b-signup-form fieldset {
    margin-top: 10px;
}
.b-signup-form fieldset label {
  padding: 0 20px 0 0;

}
.b-signup-form .notation {
    margin-top: 10px;
    color: #555;
    font-size: 0.85em;
}

.b-fields-group {
    float: left;
    margin-bottom: 20px;
}
.b-signup .signup-btn {
    margin-left: 0;
}