{% extends "base.html" %}
{% load i18n comments %}
            {% block content %}
            <div class="b-wide-left-column">
                <div class="b-block">
                    	<div class="corner corner-left"></div>
				<div class="corner corner-right"></div>
					<div class="corner corner-left-bottom"></div>
					<div class="corner corner-right-bottom"></div>
            <ul>
                {% for object in object_list %}
                <li>
                    <h1>{{ object.subject }}</h1>
                    <h2>{{ object.get_type }}</h2>
                    
                    <p>{{ object.text|safe }}</p>
                    
                    <a href="{{ object.get_absolute_url }}">{% trans "Комментарии" %}</a>
                </li>
                {% endfor %}
            </ul>
                </div>
                </div>
        
            {% endblock content %}
