      .b-footer {
            width: 100%;
            bottom: 0;
            border-top: solid 1px #e1e1e1;
            padding: 20px 0;
            margin-top: 20px;
            float: left; display: inline; display: inline;
            margin-top: 20px;
            font-size: 0.9em;
            background: #fff;
            
left:0;
            
        }
