{% load thumbnail i18n %} 
 {% if widgets.blog.ads %} 
<div class="b-block b-wall">
				<div class="corner-left"></div>
				<div class="corner-right"></div>
					<div class="corner-left bottom"></div>
					<div class="corner-right bottom"></div>
   <h1 class="header">{% trans "Обьявления" %}</h1>

    {% for ad in widgets.blog.ads %}
    <div class="b-message">
        <div class="b-message-header">
            <img src="/i/albums/30px.jpg" style="width: 30px; height: 30px; background: #000; display: block; float: left">	
            <h3><a href="{{ ad.get_absolute_url }}">{{ ad.subject }}</a>:</h3>
        </div>
        <p>{{ ad.text }}</p>
    </div>
    {% endfor %}
    <div class="b-do-bar">
        <a href="{% url post_add "ads" %}" style="margin-right: 50px;" class="wrote-smth wrote-smth-btn">{% trans "Написать" %}</a>
        {% if widgets.blog.ads_count %}
            <a href="{% url post_list profile.pk,"ads" %}">
                {% blocktrans with widgets.blog.ads_count as count %}Еще {{ count }} сообщений{% endblocktrans %}
            </a>
        {% endif %}
    </div>
 </div>
	{% else %}
	{% ifequal profile.user.pk request.user.pk %}
	<div class="b-block b-wall">
			<div class="corner-left"></div>
			<div class="corner-right"></div>
				<div class="corner-left bottom"></div>
				<div class="corner-right bottom"></div>
	<h1 class="header">

	{% trans "У вас нет обьявлений," %} <a href="{% url post_add "ads" %}" class="wrote-smth">{% trans "добавьте" %}</a>
	</h1>
	</div>
	{% endifequal %}
		{% endif %}
   
