{{ formset.management_form }} 
{% load i18n %}
    {% block content %}
	<div class="b-place-form"  id="write-smth">
       
            <form action="." method="post" enctype="multipart/form-data">
                <div class="b-fields-group main-fields">
                    {{ form.as_p }}
<!-- 
В title засовывается собственно оно из /places/template/?q=АБЫР
-->
<p>    <input type="submit" value="{% trans "Save" %}"/></p>
                </div>
            </form>
	
    </div>
{% endblock content %}
  
	
