
{% load i18n %}

{{ formset.management_form }}
    <div id="write-smth" style="height: 270px;" class="b-place-form">

            <form action="{% url add_user_place %}" method="post" enctype="multipart/form-data">
                <div class="b-fields-group main-fields">
                    {{ form.as_p }}
<!-- 
В title засовывается собственно оно из /places/template/?q=АБЫР
-->
<p>    <input type="submit" value="{% trans "Save" %}"/></p>
                </div>
            </form>
     
    </div>
    <script>
        geoController();
    </script>

