{% load thumbnail i18n method %}
	
<div class="b-block b-wall">
		<div class="corner-left"></div>
		<div class="corner-right"></div>
			<div class="corner-left bottom"></div>
			<div class="corner-right bottom"></div>
{% if widgets.events %}
    <h1 class="header">{% trans "События" %}</h1>

    {% for msg in widgets.events %}
    <div class="b-message">
		 <div class="b-message-header">
	        <img src="/i/albums/30px.jpg" style="width: 30px; height: 30px; background: #000; display: block; float: left">
        	<h3>{{ msg.sent|date:"d.m.Y H:s" }}</h3>
	     </div>
        <p>
        {% autoescape off %}    
            {% method msg get_body request.user %}
        {% endautoescape off %}    
        </p>
    </div>
    {% endfor %}
{% else %}
    <h1 class="header">{% trans "Пока ничего не произошло." %}</h1>
{% endif %}
</div>
