{% extends "base.html" %}
{% load i18n interests net %}
    {% block profile %}
	  <table class="b-personal-info">
            <tr>
                <td class="b-userpic">
                    {% if profile.avatar %} <img src="#" /> {% endif %}
                </td>
                <td style="width: 100%;">
                    {% ifequal profile.pk request.user.user.pk %}
                        <a class="edit-profile-btn" id="edit-profile-btn" href="{% url edit_user_profile %}" name="edit-profile-btn">{% trans "Редактировать" %}</a>
                  
                    {% endifequal %}
                    
                    <div class="h-userinfo">
                        <h2 class="username">
                            {{ object.name }}
                        </h2>
                        <div style="width: 50%; float: left">
              		        {% ifin request.user.user object.members.all %}
					            {% trans "Вы участник этой группы" %}
					            <a href="{% url groups_enter object.pk,0 %}">{% trans "Покинуть группу" %}</a>
					            <form style="margin-top: 20px;" action="{% url groups_invite object.pk %}" method="post">
					                <select name="user">
					                {% for f in request.user.user.friends.all %}
					                    <option value="{{ f.friend.pk }}">{{ f.friend.get_name }}</option>
					                {% endfor %}
					                </select>
					                <input type="submit" value="{% trans "Пригласить" %}" />
					            </form>
					        {% else %}
					            <a href="{% url groups_enter object.pk,1 %}">{% trans "Вступить в группу" %}</a>
					        {% endifin %}
					
                            {% if profile.interest %}
                            <div class="b-career-info">
                                {% trans "Интересы:" %} {% for interest in profile.get_interests %} <a href="{% url user_search %}?interest={{ interest|urlencode }}">{{ interest }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}
                            </div>
                            {% endif %}
                        </div></div>
                        <div style="width: 45%; float: left">
                      <p>{{ object.description }}</p>
                        </div>
                    </div>
                    {% if object.interest %}
                    <div class="b-career-info">
                        {% trans "Интересы:" %} {% for interest in object.get_interests %} <a href="{% url groups_list %}?interest={{ interest|urlencode }}">{{ interest }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}
                    </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endblock profile %}
    {% block content %}
                <div class="b-left-column">
                    {% with object.get_photos as widgets.photos %}
                        {% include "photos_widget.html" %}
                    {% endwith %}
                    {% with object.posts.all as widgets.posts %}
                        {% include "blog_widget.html" %}
                    {% endwith %}
                </div>
                <div class="b-right-column">
                    {% with object.events_in.all as widgets.events %}
                        {% include "events_widget.html" %}
                    {% endwith %}
                </div>
    {% endblock content %}
  
