{% load thumbnail i18n %}
		 <div class="b-message-header">
	        {% if profile.avatar %} <img src="{% thumbnail profile.avatar 30x30 crop,detail %}" >  {% endif %}
						   {% if msg.private %}
					        {% trans "личное сообщение" %}
					        {% else %}
					        {% trans "запись на стену" %}
					        {% endif %}         
	<h3>	        
            {% ifequal msg.from_user user.user %}
                {% trans "Для:" %} 
                <a href="{{ msg.get_address.get_absolute_url }}">
                    {{ msg.get_address.get_name }}
                </a>
            {% else %}
                {% trans "От:" %} 
                <a href="{{ msg.from_user.get_absolute_url }}">
                    {{ msg.from_user.get_name }}
                </a>
            {% endifequal %} 
            :
            </h3>
	     </div>
