{% load thumbnail i18n %}
	
<div class="b-block ">
		<div class="corner corner-left"></div>
		<div class="corner corner-right"></div>
			<div class="corner corner-left-bottom"></div>
			<div class="corner corner-right-bottom"></div>
	{% if widgets.messages %}

    <h1 class="header">{% trans "Cообщения" %}</h1>

    {% for msg in widgets.messages %}
    <div class="b-message">
					<div class="corner corner-left"></div>
					<div class="corner corner-right"></div>
						<div class="corner corner-left-bottom"></div>
						<div class="corner corner-right-bottom"></div>
        	 <div class="b-message-header">
		         {% if profile.avatar %}<img src="{% thumbnail profile.avatar 310x220 crop,detail %}"  />{% endif %}
							        
		<h3>	        
	            {% ifequal msg.from_user user.user %}
	                {% trans "Для:" %} 
	                <a href="{{ msg.get_address.get_absolute_url }}">
	                    {{ msg.get_address.get_name }}
	                </a>
	            {% else %}
	                {% trans "От:" %} 
	                <a href="{{ msg.from_user.get_absolute_url }}">
	                    {{ msg.from_user.get_name }}
	                </a>
	            {% endifequal %} 
	            :
	            </h3></div>
        <p>{{ msg.body }}</p>
    </div>
    {% endfor %}
    {% if widgets.profile %}
        <div class="b-do-bar">
            {% ifnotequal widgets.profile user.user %}
                <a href="{% url create_pm widgets.profile.pk %}?private=1"  class="wrote-smth wrote-smth-btn">{% trans "Написать" %}</a>&nbsp;
            {% endifnotequal %}
            {% if widgets.wall_count %}
                <a href="{% url wall widgets.profile.pk %}">
                  {% blocktrans with widgets.messages_count as count %} Еще {{ count }} сообщений {% endblocktrans %}
                </a>
            {% endif %}
            {% ifnotequal msg_type "all" %}
                <a class="wrote-smth-btn" href="{% url my_history %}">
                   {% blocktrans %}История моих сообщений{% endblocktrans %}
                </a>
            {% endifnotequal %}
        </div>
    {% endif %}

{% else %}
	{% ifequal profile.user.pk request.user.pk %}
		 	<h1 class="header">{% trans "У вас нет сообщений" %}</h1>
	{% else %}
	 <h1 class="header"><a href="{% url create_pm widgets.profile.pk %}?private=1"  class="wrote-smth">{% trans "Отправить личное сообщение" %}</a></h1>
	{% endifequal %}
{% endif %}
</div>
