{% load i18n net %}
{% if page_obj.has_other_pages %}
<div class="b-block paginator">
		<div class="corner corner-left"></div>
		<div class="corner corner-right"></div>
			<div class="corner corner-left-bottom"></div>
			<div class="corner corner-right-bottom"></div>
<ul>

    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">{% trans "Предыдущая" %}</a></li>
    {% endif %}
    {% for page in paginator.page_range|pagerange:page_obj.number %}
    {% ifchanged page %}
        {% if page %}
            <li>
                {% ifequal page page_obj.number %}
                <span class="selected">{{ page }}</span>
                {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
                {% endifequal %}
            </li>
        {% else %}
                ...&nbsp;
        {% endif %}
    {% endifchanged %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">{% trans "Следующая" %}</a></li>
    {% endif %}
</ul>
</div>
{% endif %}

