{% load thumbnail i18n %}
{% if widgets.photos %}
	<div class="b-block b-photos">
					<div class="corner-left"></div>
					<div class="corner-right"></div>
						<div class="corner-left bottom"></div>
						<div class="corner-right bottom"></div>
		<h1 class="header">
			{% trans "Фотографии" %}
			{% if widgets.photos.photos_count %} 
                (<a  href="{% url albums profile.pk %}">{{  widgets.photos.photos_count}}</a>)  
            {% endif %}</h1>
        
            <div class="b-albums">
            {% for photo in widgets.photos %}
                <a class="b-photo" href="{% url photos photo.album.user.pk,photo.album.pk %}">
                    <img src="{% thumbnail photo.image 120x70 crop,detail,upscale %}"  />
                </a>
            {% endfor %}				
            </div>	</div>
        {% else %}
{% ifequal profile.user.pk request.user.pk %}
	<div class="b-block b-photos">
			<div class="corner-left"></div>
			<div class="corner-right"></div>
				<div class="corner-left bottom"></div>
				<div class="corner-right bottom"></div>
<h1 class="header"><a href="{% url create_photo %}">{% trans "Загрузите фотографии" %}</a></h1>
</div>
{% endifequal %}
		{% endif %}
