{% load i18n thumbnail net %}
                <table class="b-personal-info">
                    <tr>
                        <td class="b-userpic">
                            {% if profile.avatar %} <img src="{% thumbnail profile.avatar 270x270 %}" /> {% endif %}
                        </td>
                        <td>
                            {% ifequal profile.pk request.user.user.pk %}
                                <a class="edit-profile-btn" id="edit-profile-btn" href="{% url edit_user_profile %}" name="edit-profile-btn">{% trans "Редактировать" %}</a>
                            {% else %}
                                {% ifin profile request.user.user.get_friends.all %}
                                    {% trans "Это Ваш друг." %}
                                    <a href="{% url change_friend profile.pk 0 %}">{% trans "Удалить из друзей" %}</a>
                                {% else %}
                                    <a href="{% url change_friend profile.pk 1 %}">{% trans "Добавить в друзья" %}</a>
                                {% endifin %}
                            {% endifequal %}
                            
                            <div class="h-userinfo">
                                <h2 class="username">
                                    {{ profile.first_name }} {{ profile.last_name }}
                                </h2>
                                <div style="width: 50%; float: left">
                                    <div class="b-date-and-place">
                                        {% if profile.birthdate %}
                                            <a href="{% url user_search %}?birthdate={{ profile.birthdate }}">{{ profile.birthdate|date:"d.m.Y" }}</a><br />
                                        {% endif %} 
                                        {% if profile.city %} 
                                            <a href="{% url user_search %}?city__name={{ profile.city.pk }}">{{ profile.city.name }}</a> 
                                        {% endif %} 
                                        {% if profile.country %} 
                                            , <a href="{% url user_search %}?country__name={{ profile.country.pk }}">{{ profile.country.name }}</a>
                                        {% endif %}
                                    </div>
                                    <div class="b-career-info">
                                         {% if profile.places.all %}
                                            <div class="b-career-info">
                                            {% trans "Places" %}
                                            {% ifequal profile request.user.user %}
                                                <a class="wrote-smth" href="{% url add_user_place %}">{% trans "add" %}</a>
                                            {% endifequal %}
                                            : 
                                            <ul> 
                                            {% for place in profile.places.all %}
                                                <li>
                                                    {{ place.type }} <a href="{% url user_search %}?places__name={{ place.name|urlencode }}">{{ place.name }}</a>
                                                    с: {{ place.from_date|date:"m.Y" }} по: {{ place.to_date|date:"m.Y" }} 
                                                    {% ifequal profile request.user.user %}
                                                        <a href="{% url edit_user_place place.pk %}">{% trans "edit" %}</a>
                                                    {% endifequal %}
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                        {% ifequal profile request.user.user %}
                                            <a class="wrote-smth" href="{% url add_user_place %}">{% trans "Добавить место" %}</a>
                                        {% endifequal %}
                                    </div>
                                    {% if profile.interest %}
                                    <div class="b-career-info">
                                        {% trans "Интересы:" %} {% for interest in profile.get_interests %} <a href="{% url user_search %}?interest={{ interest|urlencode }}">{{ interest }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}
                                    </div>
                                    {% endif %}
                                </div></div>
                                <div style="width: 45%; float: left">
                                    {% if profile.get_contacts.phone %}
                                    <div class="b-phone-num">
                                        {% trans "Телефон:" %} <span class="bigger">{{ profile.get_contacts.phone }}</span>
                                    </div>{% endif %}
                                    <div class="b-im-accounts">
                                        {% if profile.get_contacts.icq %}
                                        ICQ: <a href="#">{{ profile.get_contacts.icq }}</a><br />
                                        {% endif %} 
                                        {% if profile.get_contacts.jabber %} Jabber: <a href="#">{{ profile.get_contacts.jabber }}</a>{% endif %}
                                        {% if profile.get_contacts.msn %} Msn: <a href="#">{{ profile.get_contacts.msn }}</a>{% endif %}
                                    </div>
                                    
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
