<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>
            Регистрация
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/i/css/base.css" type="text/css" />
        <link rel="stylesheet" href="/i/css/head.css" type="text/css" />
        <link rel="stylesheet" href="/i/css/registration.css" type="text/css" />
        <link rel="stylesheet" href="/i/css/footer.css" type="text/css" />
        <link rel="stylesheet" href="/i/css/personal_info.css" type="text/css" />
    </head>
    <body>
        <div class="b-page-container">
            <div class="b-head">
                <div class="b-menu">
                    <a href="#">Люди</a> <a href="#">Группы</a> <a href="#">RTTV</a>
                </div>
            </div>
            <div class="b-min-height">
                &nbsp;
            </div>
            <div class="b-content-container">
                <table class="b-personal-info">
                    <tr>
                        <td class="b-userpic">
                            <img src="/i/img/userpic.jpg" />
                        </td>
                        <td>
                            <a class="edit-profile-btn" id="edit-profile-btn" name="edit-profile-btn">Редактировать</a>
                      
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="b-footer"></div>
    </body>
</html>
