{% extends "base.html" %}
{% load thumbnail i18n %}
            {% block profile %}
                {% include "profile_include.html" %}
            {% endblock profile %}
            {% block content %}
				<div class="b-block b-wall">
					<h1>{% trans "Стена" %}</h1>
				
						<div class="b-message">
							<div class="b-message-header"><img src="/i/albums/30px.jpg" style="width: 30px; height: 30px; background: #000; display: block; float: left"><h3>Иван Кузнецов:</h3></div><p>Слышишь меня -- стенка клевая</p></div>
						<div class="b-message"><div class="b-message-header"><img src="/i/albums/30px.jpg" style="width: 30px; height: 30px; background: #000; display: block; float: left"><h3>Иван Кузнецов:</h3></div><p>Слышишь меня -- стенка клевая</p></div>
									
								<div class="b-message"><div class="b-message-header"><img src="/i/albums/30px.jpg" style="width: 30px; height: 30px; background: #000; display: block; float: left"><h3>Иван Кузнецов:</h3></div><p>Слышишь меня -- стенка клевая</p></div>
			
						<div class="b-wall-msg-form" id="wrote-message">
							<form method="post">
								<textarea></textarea>
								<input type="submit" value="{% trans "Написать" %}" />
								
							</form>
						</div>
						<div class="b-do-bar">
						<a href="#" style="margin-right: 50px;" id="wrote-message-btn">{% trans "Написать" %}</a>
						
				
					<a href="#">Еще 12 сообщений</a>
					</div>
					
				</div>
				
    			{% if widgets.photos %}
				<div class="b-block b-photos">
					<h1>{% trans "Фотографии" %}</h1>
					<div class="b-albums">
					{% for photo in widgets.photos %}
						<a class="b-photo" href="{% url photos profile.pk,photo.album.pk %}">
						    <img src="{% thumbnail photo.image 150x100 crop,detail,upscale %}" style="display:block; background: #000; width: 150px; height: 100px" />
                        </a>
                    {% endfor %}				
					</div>
					<div class="b-do-bar">
					<a href="{% url albums profile.pk %}">{% trans "Остальные фотографии" %}</a>
					</div>
				</div>
				{% endif %}
				
				{% if widgets.blog.posts %}
				<div class="b-block b-blog">
					<h1>{% trans "Дневник" %}</h1>
					{% for post in widgets.blog.posts %}
					<div class="b-post"><h2>{{ post.subject }}</h2>						
						<p>
						    <a href="{{ post.get_absolute_url }}">{{ post.text|truncatewords:30 }}...</a>
                        </p>
					</div>	
					{% endfor %}
                    <div class="b-do-bar">
						<a href="{% url post_add %}" style="margin-right: 50px">{% trans "Написать" %}</a>
			
			        {% if widgets.blog.posts_count %}
					    <a href="{% url post_list %}">Еще записей: {{ widgets.blog.posts_count }}</a>
                    {% endif %}
					</div>
				</div>
                {% endif %}
		
				
		
            {% endblock content %}
