{% extends "base.html" %}
{% load i18n interests thumbnail %}
    {% block content %}
        	<div class="b-wide-left-column">
	<div class="b-block" >
			<div class="corner corner-left"></div>
			<div class="corner corner-right"></div>
			<div class="corner corner-left-bottom"></div>
			<div class="corner corner-right-bottom"></div>
			<div class="b-users-list">
            {% if object_list %}
                {% for user in object_list %}
            	<div class="b-user"><a class="medium-avatar"  href="{% url user_profile user.pk %}">
            	    <img src="{% thumbnail user.avatar 100x100 %}" /></a>
					<div style="margin: 20px 0 0 20px; float: left">
					    <a href="{% url user_profile user.pk %}">{{ user.get_name }}</a>
						<div сlass="b-user-info-small" style="color: #c0c0c0">
						    {{ user.birthdate|date:"d.m.Y" }}
						    {{ user.country }}
						    {{ user.city }}
                        </div>
					</div>
                </div>
                {% endfor %}
		{% else %}
				<p class="wrote-smth-btn">{% trans "К сожалению нет пользователей по вашему поисковому запросу" %}</p>
		{% endif %}
		<div style="clear: both"></div>
</div>

</div>
       </div>
                            
       
	<div class="b-left-column" style="margin-right: 20px">
			<div class="b-block">
				<div class="corner corner-left"></div>
				<div class="corner corner-right"></div>
					<div class="corner corner-left-bottom"></div>
					<div class="corner corner-right-bottom"></div>
		<form action="{% url user_search %}" class="b-place-form" style="width: auto; padding-bottom: 20px" method="post">
		    {{ form.as_p }}
		    <input type="submit" value="{% trans "Найти" %}"/>
		</form></div>
		 {% include "messages_widget.html" %}
		{% include "friends_widget.html" %}
		  {% include "events_widget.html" %}
	</div>

        <div class="clear"></div>
	{% if object_list %}
 {% include "paginator.html" %}
{% endif %}





    {% endblock content %}
  
   
