{% load thumbnail i18n %}
<div class="b-block ">
		<div class="corner corner-left"></div>
		<div class="corner corner-right"></div>
			<div class="corner corner-left-bottom"></div>
			<div class="corner corner-right-bottom"></div>
	{% if widgets.wall %}
 <h1 class="header">{% trans "Стена" %}</h1>

 {% for msg in widgets.wall %}
 <div class="b-message">
    {% include "message_header.html" %}
    <p>{{ msg.body }}</p>
 </div>
 {% endfor %}
 <div class="b-do-bar">
     <a href="{% url create_pm profile.pk %}" style="margin-right: 50px;" class="wrote-smth wrote-smth-btn">{% trans "Написать" %}</a>
     {% if widgets.wall_count %}
         <a href="{% url wall profile.pk %}">
             {% blocktrans with widgets.wall_count as count %}Еще {{ count }} сообщений{% endblocktrans %}
         </a>
     {% endif %}
 </div>
	{% else %}
	{% ifequal profile.user.pk request.user.pk %}
	<h1 class="header">{% trans "Стена пуста" %}</h1>
	<p class="wrote-smth-btn">

	    <a  href="{% url user_search %}">{% trans "Найдите друзей, и они вам что-нибудь напишут" %}</a> 
	    или  
	    <a class="wrote-smth" href="{% url create_pm profile.pk %}" >

	    {% trans "попробуйте сами" %}
        </a>
    </p>
{% else %}
	<h1 class="header"><a href="{% url create_pm profile.pk %}"  class="wrote-smth">{% trans "Написать на стене пользователя" %}</a></h1>
{% endifequal %}
	{% endif %}
 </div>  
      
