
            {% block content %}
{% load i18n thumbnail %}

     

                        <div class="b-message-form" style="height: 240px" id="write-smth">
                            <h1>

                                {% if request.GET.private %}
                                    {% trans "Личное сообщение" %}
                                {% else %}
                                    {% trans "Сообщение на Стену" %}
                                {% endif %}
                            </h1>
                            <form action="{% url create_pm object_id %}" method="post">
                                {{ form.body }}
                                {{ form.private }}
                                {{ form.parent }}
                                {{ form.content_type }}
                                {{ form.object_id }}
								
                                <input type="submit" class="submit-btn" value="{% trans "send" %}"/>
                            </form>
                        </div>
                 
      
            {% endblock content %}
