{% extends "base.html" %}
{% load i18n thumbnail %}
            {% block content %}
<div class="b-left-column">
		   {% include "events_widget.html" %}
				{% include "friends_widget.html" %}
</div>
<div class="b-right-column">
			<div class="b-block b-wall" >
				<h1 class="header">
				    {% ifequal msg_type "outbox" %}{% trans 'Outbox' %}{% endifequal %}
				    {% ifequal msg_type "inbox" %}{% trans 'Inbox' %}{% endifequal %}
				    {% ifequal msg_type "all" %}{% trans 'Messages history' %}{% endifequal %}
				    {% ifequal msg_type "wall" %}{% trans 'Wall' %}{% endifequal %}
                </h1>
        		 {% for msg in object_list %}
                        <div class="b-message">
					
        {% include "message_header.html" %}
     

        <p>{{ msg.body }}</p>
        {{ msg.sent|date:"d.m.Y" }} 
        {% ifnotequal msg.from_user user.user %}|
        {% if msg.private %} 
		<a class="wrote-smth" href="{% url create_pm msg.from_user.pk %}?parent={{ msg.id }}">
             {% trans "Ответить" %}
         </a>
		{% else %}
		<a class="wrote-smth" href="{% url create_pm msg.from_user.pk %}?parent={{ msg.id }}">
             {% trans "Ответить на стене пользователя " %}
         </a>
		{% endif %}
        {% endifnotequal %}
	</div>
	
                           
                    
                     
                    {% endfor %}
			</div>
			</div>
			
           
            {% endblock content %}
