{% extends "base.html" %}
            {% block content %}
								<div class="b-form-container">
								        <div class="b-signup" style="margin-top: 20px;">
									<h1>{% trans "У вас еще нет ни одного альбома" %}</h1>
								            <form enctype="multipart/form-data" method="post" action="{% url create_photo album.user.pk,album.pk %}">
								                <div class="b-fields-group main-fields">
								              
								<fieldset><label for="id_title">{% trans "Название:" %}</label> <input type="text" maxlength="255" name="title" id="id_title"/></fieldset>
								
								                    <input type="submit" value="{% trans "Cоздать" %}"/>
								                </div>
								            </form>
										</div>
								    </div>
            
            {% endblock content %}
