{% extends "base.html" %}
{% load i18n thumbnail %}
            {% block content %}
                <div class="b-form-container">
                        <div class="b-signup">
                            <h1>{% trans "Добавить фотографии" %}</h1>
                            <form enctype="multipart/form-data" method="post" action="{% url create_photo  %}">
                                <div class="b-fields-group main-fields">
                                        {% if album_form.fields.album.choices %} 
                                            {% trans "выберите альбом или группу" %} {{ album_form.album }} или 
                                        {% endif %} {% trans "создайте новый альбом:" %}
                                        <fieldset>
                                            {{ album_form.title }}
                                        </fieldset>
                                        {{ photo_forms.management_form.as_table }}
										<fieldset>{% trans "выберите фотографии:" %}</fieldset>
                                        {% for form in photo_forms.forms %}
											<fieldset>
                                            {{ form.image }}
											</fieldset>
                                        {% endfor %}
                                   
                
                                    <input style="margin-top: 10px" type="submit" value="{% trans "Загрузить" %}"/>
                                </div>
                            </form>
                        </div>
                    </div>
            {% endblock content %}
