{% extends "base.html" %}
{% load i18n thumbnail %}
            {% block content %}
 <div class="b-photo-gallery">
                <div style="padding-left: 50%; margin-top: 20px;"><img style="display: block; margin-left: -400px" src="{% thumbnail object.image 800x600 detail,crop %}">

               
                    {% for photo in object.album.photos.all %}
                        <a class="b-photo" href="{% url photo photo.album.user.pk,photo.album.pk,photo.pk %}">
                            <img src="{% thumbnail photo.image 200x200 detail,crop %}"/>
                        </a>
                    {% endfor %}
                </div>

                <div style="clear: both"> 
                    {% ifequal object.album.user.pk|stringformat:"s" request.user.user.pk|stringformat:"s" %}
                        <a href="{% url create_photo %}?album_id={{ object.album.pk }}">{% trans "Добавить фото" %}</a>
                    {% endifequal %}
                    {% include "comments/comments_include.html" %}
                </div>
      
            {% endblock content %}
