{% extends "base.html" %}
{% load i18n thumbnail %}
            {% block content %}
                <div class="b-form-container">
                        <div class="b-signup">
                            <h1>{% trans "Добавить фотографии" %}</h1>
                            <form enctype="multipart/form-data" method="post" action="{% url create_photo  %}">
                                <div class="b-fields-group main-fields">
                                    <table>
                                        {{ album_form.as_table }}
                                        {{ photo_forms.management_form.as_table }}
                                        {% for form in photo_forms.forms %}
                                            <tr>
                                                <td colspan="2">#{{ forloop.counter }}</td>
                                            </tr>
                                            {{ form.as_table }}
                                        {% endfor %}
                                    </table>
                
                                    <input type="submit" value="Cоздать"/>
                                </div>
                            </form>
                        </div>
                    </div>
            {% endblock content %}
