
{% include i18n %}
    
           
               
                {% load thumbnail %}
                {% for photo in object_list %}
                
                        <a href="{% thumbnail photo.image 800x800 %}" class="thickbox" rel="album">
                            <img src="{% thumbnail photo.image 200x200 %}"/>
                            
                        </a>
               
                {% endfor %}
            
                {% ifequal album.user.pk request.user.user.pk %}
				<span id="add-photos-btn">Add photos to album</span>
				<div class="b-add-photos" id="add-photos-form">
                <form action="{% url create_photo album.user.pk,album.pk %}" method="post" enctype="multipart/form-data">
                    {{ form.as_p }}
                    <input type="submit"/>
                </form>
				</div>
                {% endifequal %}
      
