{% extends "base.html" %}
{% load i18n %}
            {% block content %}
    <div class="b-form-container">
        <div class="b-registration">
            <form class="b-registration-form" action="{% url auth_login %}" method="post">
                <h2>{% trans "Уже зарегистрированы?" %}</h2>
                {{ form.username.errors|join:", " }}
                <fieldset><label for="username">{% trans "E-mail" %}</label>{{ form.username }}</fieldset>
                <fieldset><label for="password">{% trans "Пароль" %}</label>{{ form.password }}</fieldset>
                {{ form.next }}
                <input type="submit" value="{% trans "войти" %}" class="signup-btn"/>
            </form>
            <p class="b-recover-password"><a href="{% url auth_password_reset %}">{% trans "Recover password" %}</a></p>
        </div>
    </div>
 {% endblock content %}
