<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>
<head>
    <title>Регистрация</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/i/css/base.css" />
        <link rel="stylesheet" href="/i/css/head.css" />
    <link rel="stylesheet" href="/i/css/registration.css" />
</head>
<body>
  
    <div class="b-page-container">
  
   <div class="b-head">
       <div class="b-menu">
           <a href="#">Люди</a>
           <a href="#">Группы</a>
           <a href="#">RTTV</a>
    </div>
    </div>
      <div class="b-min-height">&nbsp;</div>
     <div class="b-content-container">
    
    <div class="h-registration">
        <div class="b-registration" style="width: 500px; margin-left: -250px; margin-bottom: 200px">
            <h2>Спасибо!</h2>
            <p>На ваш email придет письмо со ссылкой, перейдя по которой вы сможете продолжить регистрацию. Если письмо все-таки е пришло, попробуйте ввести email еще раз или написать в нашу службу поддержки</p>
        </div>
    </div>
  </div>

      </div>
    </body>
    </html>
